.timeline-content {
    background-color: var(--darkblue);
    margin-bottom: 10px;
}

.flight-timeline {
    width: 100%;
    color: var(--white);
display: flex;
justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;

}

.flight-timeline ul {
    display: block;
    align-items: center;
    padding: 0;
    margin: 0
}

@media (min-width: 625px) {
    .flight-timeline ul {
        display: flex;
    }
}

.flight-timeline .before {
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-left: 15px;
}

.flight-timeline .before .shape {
    width: 8px;
    height: 8px;
    border: 1px solid var(--white);
    display: block;
    transform: rotate(45deg);
}

.flight-timeline .before .shape.inprocess {
    border: 3px solid var(--white);
}

.flight-timeline .before .shape.done {
    border: 3px solid var(--yellow);
}

.flight-timeline .before .line {
    width: 90px;
    border-bottom: 1px solid var(--white);
    display: none;
    margin-bottom: 1px;
}


@media (min-width: 625px) {
    .flight-timeline .before .line {
        display: block;
    }
}

.flight-timeline .before .line.inprocess {
    border-bottom: 2px solid var(--white);
    margin-bottom: 2px;
}

.flight-timeline .before .line.done {
    border-bottom: 2px solid var(--yellow);
    margin-bottom: 2px;
}

.flight-timeline ul li {
    display: flex;
    align-items: center;

}


.flight-timeline ul li.inprocess {
    font-family: var(--bs-font-IRANSans-bold);

}

.flight-timeline ul li.done {
    font-family: var(--bs-font-IRANSans-bold);
    color: var(--yellow);
}


.section-content {
    margin-bottom: 40px;
    border-bottom: 1px solid var(--light-gray);
    padding: 10px 0;
    overflow-x: hidden;
}
.section-content .divider{
    margin-bottom: 10px;
}
.radio-label {
    margin-right: 5px;
    margin-top: 5px;
}

.reserve-type {
    display: flex;
    justify-content: space-around;
}

.reserve-type li {
    display: flex;
    flex: 1;
}

.reserve-type-btn {
    width: 100%;
    height: 100px;
    border: 1px solid var(--white);
}


.reserve-title {
    font-size: 22px;
}

.reserve-icon {
    display: inline-block;
    width: 50px;
    height: 35px;
}

.reserve-square-icon {
    display: inline-block;
    width: 35px;
    height: 35px;
}

.site-icon {
    display: inline-block;
    width: 25px;
    height: 25px;

}
.site-action-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left:15px;
    cursor: pointer;

}
.site-pointer-icon {
    display: inline-block;
    width: 10px;
    height: 10px;
}
.accordion-arrow-icon {
    display: inline-block;
    width: 15px;
    height: 15px;
}

.site-action-icon > div,
.accordion-arrow-icon > div,
.site-pointer-icon > div,
.reserve-icon > div,
.site-icon > div,
.reserve-square-icon > div {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat
}

.reserve-icon > div,
.reserve-square-icon > div {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat
}

.arrival-icon {
    background: url(../image/SVG/Arrival-white.svg);
}

.nav-search.active .arrival-icon {
    background: url(../image/SVG/Arrival.svg);
}

.connecting-icon {
    background: url(../image/SVG/Connecting-white.svg);
}

.nav-search.active .connecting-icon {
    background: url(../image/SVG/Connecting.svg);
}

.departure-icon {
    background: url(../image/SVG/Departure-white.svg);
}

.nav-search.active .departure-icon {
    background: url(../image/SVG/Departure.svg);
}

.pets-icon {
    background: url(../image/SVG/Pets_white.svg);
}


.wheelchair-icon {
    background: url(../image/SVG/wheelchair_white.svg);
}

.visa-icon {
    background: url(../image/SVG/Visa_white.svg);
}

.gust-icon {
    background: url(../image/SVG/Guset_white.svg);
}

.gust-icon {
    background: url(../image/SVG/Guset_white.svg);
}

.shop-assistant-icon {
    background: url(../image/SVG/Shop_assistant_white.svg);
}

.meal-icon {
    background: url(../image/SVG/Meal_white.svg);
}

.flower-icon {
    background: url(../image/SVG/flower_white.svg);
}

.baggage-icon {
    background: url(../image/SVG/Baggage_white.svg);
}

.transfer-icon {
    background: url(../image/SVG/Transfer_white.svg);
}

.path-black-icon {
    background: url(../image/SVG/Path_black.svg);
}

.path-yellow-icon {
    background: url(../image/SVG/Path_yellow.svg);
}

.arrow-up-icon {
    background: url(../image/SVG/Arrow-white.svg);
    transform: rotate(-90deg);
}

.arrow-down-icon {
    background: url(../image/SVG/Arrow-white.svg);
    transform: rotate(90deg);
}

.calender-gray-icon {
    background: url(../image/SVG/Calender-lightGray.svg);
}

.flag-iran-icon {
    background: url(../image/SVG/Flag_of_Iran.svg);
}

.plus-icon {
    background: url(../image/SVG/plus-white.svg);
}

.delete-icon {
    background: url(../image/SVG/Delete-white.svg);
}

.edit-icon {
    background: url(../image/SVG/Edit-white.svg);
}

.form-content {
    background-color: var(--darkblue);
    padding: 15px;
    border-radius:7px;
}

/*.divider{*/
/*    border-color: var(--light-gray);*/
/*}*/

.divider {
    border-color: var(--light-gray);
    border-style: solid;
    border-top-width: 1px;
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    margin-top: 10px;
}

.divider-dashed {
    border-color: var(--light-gray);
    border-style: dashed;
    border-top-width: 1px;
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-width: 0;
}

.flight-number {
    font-size: 12px;
    color: var(--light-gray);
    padding: 5px 15px;
}


fieldset {
    margin: 0 0 3rem;
    padding: 0;
    border: none;
}

.form-radio,
.form-group {
    position: relative;
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
}

.form-inline > .form-group,
.form-inline > .btn {
    display: inline-block;
    margin-bottom: 0;
}

.hint {
    font-size: 10px;
    color: var(--light-gray);
    margin-top: 5px;
}

.form-help {
    margin-top: 0.125rem;
    margin-right: 0.125rem;
    color: #b3b3b3;
    font-size: 0.8rem;
}

.checkbox .form-help, .form-radio .form-help, .form-group .form-help {
    position: absolute;
    width: 100%;
}

.checkbox .form-help {
    position: relative;
    margin-bottom: 1rem;
}

.form-radio .form-help {
    padding-top: 0.25rem;
    margin-top: -1rem;
}

.form-group input {
    height: 1.9rem;
}

.form-group textarea {
    resize: none;
}

.form-group select {
    width: 100%;
    font-size: 1rem;
    height: 1.6rem;
    padding: 0.125rem 0.125rem 0.0625rem;
    background: none;
    border: none;
    line-height: 1.6;
    box-shadow: none;
}

.form-group .control-label {
    position: absolute;
    top: -0.2rem;
    right: 0;
    pointer-events: none;
    padding-right: 0.125rem;
    z-index: 1;
    color: var(--white);
    font-size: 1rem;
    font-weight: normal;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
}

.form-group .bar {
    position: relative;
    border-bottom: 0.0625rem solid var(--white);
    display: block;
    overflow: hidden;
}

.form-group .bar::before {
    content: '';
    height: 0.125rem;
    width: 0;
    right: 50%;
    bottom: -0.0625rem;
    position: absolute;
    background: var(--white);
    -webkit-transition: left 0.28s ease, width 0.28s ease;
    transition: left 0.28s ease, width 0.28s ease;
    z-index: 2;
}

.form-group input,
.form-group textarea {
    display: block;
    background: none;
    padding: 0.125rem 0.125rem 0.0625rem;
    font-size: 1rem;
    border-width: 0;
    border-color: transparent;
    line-height: 1.9;
    width: 100%;
    color: transparent;
    -webkit-transition: all 0.28s ease;
    transition: all 0.28s ease;
    box-shadow: none;
}

.form-group input[type="file"] {
    line-height: 1;
}

.form-group input[type="file"] ~ .bar {
    display: none;
}

.form-group select,
.form-group input:focus,
.form-group input:valid,
.form-group input.form-file,
.form-group input.has-value,
.form-group textarea:focus,
.form-group textarea:valid,
.form-group textarea.form-file,
.form-group textarea.has-value {
    color: var(--white);
}
.form-check-label{
    color: var(--white);
    font-weight: bold;

}

.form-group select ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group input:valid ~ .control-label,
.form-group input.form-file ~ .control-label,
.form-group input.has-value ~ .control-label,
.form-group textarea:focus ~ .control-label,
.form-group textarea:valid ~ .control-label,
.form-group textarea.form-file ~ .control-label,
.form-group textarea.has-value ~ .control-label {
    font-size: 0.8rem;
    color: var(--white);
    top: -1rem;
    right: 0;
}

.form-group select:focus,
.form-group input:focus,
.form-group textarea:focus {
    outline: none;
}

.form-group select:focus ~ .control-label,
.form-group input:focus ~ .control-label,
.form-group textarea:focus ~ .control-label {
    color: var(--light-gray);
}

.form-group select:focus ~ .bar::before,
.form-group input:focus ~ .bar::before,
.form-group textarea:focus ~ .bar::before {
    width: 100%;
    right: 0;
}

.checkbox label,
.form-radio label {
    position: relative;
    cursor: pointer;
    padding-right: 2rem;
    text-align: right;
    color: var(--white);
    display: block;
}

.checkbox input,
.form-radio input {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    right: 0;
}

.radio {
    margin-bottom: 1rem;
}

.radio .helper {
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #999;
}

.radio .helper::before, .radio .helper::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    margin: 0.25rem;
    width: 1rem;
    height: 1rem;
    -webkit-transition: -webkit-transform 0.28s ease;
    transition: -webkit-transform 0.28s ease;
    transition: transform 0.28s ease;
    transition: transform 0.28s ease, -webkit-transform 0.28s ease;
    border-radius: 50%;
    border: 0.125rem solid currentColor;
}

.radio .helper::after {
    -webkit-transform: scale(0);
    transform: scale(0);
    background-color: var(--light-gray);
    border-color: var(--light-gray);
}

.radio label:hover .helper {
    color: var(--light-gray);
}

.radio input:checked ~ .helper::after {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
}

.radio input:checked ~ .helper::before {
    color: var(--light-gray);
}

.checkbox {
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.checkbox .helper {
    color: #999;
    position: absolute;
    top: 0;
    right: 0;
    width: 1rem;
    height: 1rem;
    z-index: 0;
    border: 0.125rem solid currentColor;
    border-radius: 0.0625rem;
    -webkit-transition: border-color 0.28s ease;
    transition: border-color 0.28s ease;
}

.checkbox .helper::before, .checkbox .helper::after {
    position: absolute;
    height: 0;
    width: 0.2rem;
    background-color: var(--light-gray);
    display: block;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    border-radius: 0.25rem;
    content: '';
    -webkit-transition: opacity 0.28s ease, height 0s linear 0.28s;
    transition: opacity 0.28s ease, height 0s linear 0.28s;
    opacity: 0;
}

.checkbox .helper::before {
    top: 0.65rem;
    right: 0.38rem;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.checkbox .helper::after {
    top: 0.3rem;
    right: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.checkbox label:hover .helper {
    color: var(--light-gray);
}

.checkbox input:checked ~ .helper {
    color: var(--light-gray);
}

.checkbox input:checked ~ .helper::after, .checkbox input:checked ~ .helper::before {
    opacity: 1;
    -webkit-transition: height 0.28s ease;
    transition: height 0.28s ease;
}

.checkbox input:checked ~ .helper::after {
    height: 0.5rem;
}

.checkbox input:checked ~ .helper::before {
    height: 1.2rem;
    -webkit-transition-delay: 0.28s;
    transition-delay: 0.28s;
}

.radio + .radio,
.checkbox + .checkbox {
    margin-top: 1rem;
}

.has-error .legend.legend, .has-error.form-group .control-label.control-label {
    color: #d9534f;
}

.has-error.form-group .form-help,
.has-error.form-group .helper, .has-error.checkbox .form-help,
.has-error.checkbox .helper, .has-error.radio .form-help,
.has-error.radio .helper, .has-error.form-radio .form-help,
.has-error.form-radio .helper {
    color: #d9534f;
}

.has-error .bar::before {
    background: #d9534f;
    right: 0;
    width: 100%;
}


#flight2Section {
    display: none;
}

.submit-btn {
    width: 200px;
}

.services {
    line-height: 3;
}

.moreInfo {
    color: var(--yellow);
}

.price {
    color: var(--yellow);
    font-size: 20px;
    font-weight: bold;
}

.caption {
    color: var(--light-gray);
    font-size: 12px;
}

.services-select {
    margin-top: 10px;
    margin-bottom: 10px;
}


.reserve-details {
    border: 1px solid var(--white);
    border-radius: 15px;
    min-height: 100px;
    padding: 10px;
}

.reserve-details .content {
    padding-top: 10px;
    padding-bottom: 10px;

}

.reserve-details .content div:nth-child(3) {
    padding-top: 10px;

}

.reserve-details .content div:nth-child(4) {
    padding-top: 20px;
    padding-bottom: 10px;

}


.accordion {
    background-color: transparent;
    border-radius: 15px;
}

.accordion-item:first-of-type,
.accordion-item:last-of-type {
    border-radius: 15px;
}

.accordion-item:not(:first-of-type),
.accordion-item:not(:first-of-type) {
    border-top: 1px solid var(--light-gray);
}

.accordion-item {
    background-color: transparent;
    border: 1px solid var(--light-gray);
    border-radius: 15px;
    margin-bottom: 10px;
}

.accordion-button::after {
    background-image: initial;
    width: 0;
}

.accordion-button:not(.collapsed)::after {
    background-image: initial;
    width: 0;
}

.accordion-header-custom {
    width: 100%;
}

.accordion-header {
    padding: 0 15px;

}

.accordion-button-custom {
    width: 100%;
    background-color: transparent;

    padding: 10px 5px;
    /*font-size: 15px;*/

    color: var(--white);

}
.accordion-collapse{
    border-top: 1px solid #fff;
}
.accordion-title {
    font-size: 17px;
    margin-right: 20px;
}

.accordion-uncheck {
    width: 25px;
    height: 25px;
    border: 1px solid var(--white);
    border-radius: 50%;
    cursor: pointer;
}

.accordion-check {
    background-color: var(--white);
    cursor: pointer;
}

.accordion-body-custom {
    color: var(--light-gray)
}

.accordion-body-custom > div {
    margin-bottom: 20px;
}

.add-service-title {
    color: var(--white)
}
.add-service-subtitle {
    color: var(--light-gray);
    font-size: 15px;
}

.add-service-action {
    width: 25px;
    height: 25px;
    border: 1px solid var(--white);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4px;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.add-service-counter {

}

.add-service-details {
    padding-top: 10px;
    padding-bottom: 10px;
}


.add-service-details > div {
    margin-bottom: 10px;
}

.add-service-detail-item {
    font-size: 14px;
    color: var(--light-gray)
}

.btn-outline-primary,
.btn-primary
{
    color: var(--white);
    border-color: var(--white);
}
.btn-primary{
 background-color: var(--white);
    color: var(--bs-black);

}
.btn-custom{
    font-weight: bold;
    padding-right: 40px;
    padding-left: 40px;
}

.btn-outline-primary:hover {
    color: #fff !important;
    /*background-color: var(--white) !important;*/
    border-color: var(--white) !important;
}

.btn-check:active + .btn-outline-primary,
.btn-check:checked + .btn-outline-primary,
.btn-outline-primary.active,
.btn-outline-primary.dropdown-toggle.show,
.btn-outline-primary:active {
    color: var(--bs-black) !important;
    background-color: var(--white) !important;
    border-color: var(--white) !important;
}

.btn-check:checked + .btn-outline-primary:focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.dropdown-toggle.show:focus,
.btn-outline-primary:active:focus {
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .5) !important;
}

.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .5) !important;
}



.btn-outline-secondary,
.btn-secondary
{
    color: var(--yellow);
    border-color: var(--yellow);
}
.btn-secondary{
    background-color: var(--yellow);
    color: var(--bs-black);

}
.btn-secondary-custom{
    font-weight: bold;
    padding-right: 40px;
    padding-left: 40px;
}

.btn-outline-secondary:hover {
    color: var(--yellow) !important;
    /*background-color: var(--white) !important;*/
    border-color: var(--yellow) !important;
}

.btn-check:active + .btn-outline-secondary,
.btn-check:checked + .btn-outline-secondary,
.btn-outline-secondary.active,
.btn-outline-secondary.dropdown-toggle.show,
.btn-outline-secondary:active {
    color: var(--bs-black) !important;
    background-color: var(--yellow) !important;
    border-color: var(--yellow) !important;
}

.btn-check:checked + .btn-outline-secondary:focus,
.btn-outline-secondary.active:focus,
.btn-outline-secondary.dropdown-toggle.show:focus,
.btn-outline-secondary:active:focus {
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .5) !important;
}

.btn-check:focus + .btn-outline-secondary, .btn-outline-secondary:focus {
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .5) !important;
}



.additional-service-btn{
    padding-right: 5px;
    width: 100px;
}

.form-control{
    background-color: transparent;
}
button, input, optgroup, select, textarea{
    font-family: var(--bs-font-IRANSans-FaNum);
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    font-family: var(--bs-font-IRANSans-FaNum);
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    font-family: var(--bs-font-IRANSans-FaNum);
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    font-family: var(--bs-font-IRANSans-FaNum);
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    font-family: var(--bs-font-IRANSans-FaNum);
}


.site-box{
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 10px;
    color: var(--yellow);
    font-weight: bold;
    font-size: 20px;
    border: 1px solid  var(--yellow);
}
.site-cip-box{
    background-color: var(--yellow);
    color: var(--black);

}
.site-add-passenger-box{
    border-style: dashed;
    border-color: var(--light-gray);
    color: var(--white);
    font-weight: unset;

}

.form-input-icon{
    position: absolute;
    left: 0;
    top: 0;
}
.phone-number-code{
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    padding: 5px;
    bottom: 5px;
    direction: ltr;
}

.ltr-data{
    direction: ltr;
}
.input-icon{
    padding-left: 75px !important;
}

.form-check-input{
    background-color: transparent;
    border: 3px solid var(--light-gray);
}
.form-check-input:checked {
    background-color:var(--white);
    border-color: var(--light-gray);
    border-width:3px ;
}

.btn.disabled, .btn:disabled, fieldset:disabled .btn{
    opacity: 1;
    background-color:var(--yellow);
    border: none;
    color: var(--black);
    padding: .8rem .9rem;
}
.site-box-darkblue{
    border:none;
    background-color: var(--darkblue);
    padding: 20px;

}
.site-box-darkblue .divider{
    margin-top: 0;
}
.site-box-darkblue h5{
    font-size: 1.1rem;
}
.border{
    height:1px;
padding: 0 30px;
    background-color: var(--light-gray);
    width: 160px;
}
.flight-time,.flight-airport{
    font-size:.9rem;
    color: var(--light-gray);
    margin: 10px 0;
}
.flight-airport .caption{
    color: #fff;
}
.table-passenger{
    font-size: 1rem;
    color:#fff
}
.table-passenger td{
    font-size: .8rem;
}
.site-box-dashed{
    border:1px dashed var(--white)
}
.btn-yellow-border:hover {
    background-color: var(--yellow);
    color: var(--black);
    transition: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

#panel{
  height: 150px;
  width: 150px;
  background-color: #66ff6b;;
  border-radius: 50%;
  display:block;
}

#panel {
  padding: 50px;
  display:none;

}
.site-add-passenger-box .noshow{
    display: none;
}
.discount-sec{
    border-top:1px solid gray;
    width: 100%;
}
.eror-sec{
    color: var(--red);
    font-size: .8rem;
    display: none;
}
 a:hover{
    color:var(--light-gray) !important
}
.form-check{
    /* display: flex;
    align-items: center; */

}

.form-check-input-gift label{
    color: var(--light-gray) !important;
    margin-right: 10px;
    margin-top: 5px;
    cursor: pointer;
}
.gift_sec label{
    color: var(--light-gray) !important;
}
.form-check-input[type=checkbox]{
    border-color:var(--yellow) !important;
    cursor: pointer;
}
form-check-input:checked[type=checkbox] {
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e);
}
.form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.form-check-input:checked[type=checkbox] {
    background-image: url(../image/SVG/Check.svg) !important;
    cursor: pointer;
}

.form-check-input:checked {
    background-color: var(--yellow) !important;
    border-color:var(--yellow) !important;

}
.form-check-input:focus{
    box-shadow: none !important;
}
.flip-box {
    background-color: transparent;
    width:100%;
    height: 400px;
    border: 1px solid var(--black);
    perspective: 1000px;
    display: flex;
    justify-content: center;
    margin: 50px 0;
  }

  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }

  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-box-front {
    background-color:var(--darkblue);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flip-box-front img{
    width: 200px;
    height: 200px;
  }
  .flip-box-back {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--yellow);
    color: white;
    transform: rotateY(180deg);
  }
  .flip-box-back-child{
    border:2px dotted #fff;
    width: 100%;
    height: 100%;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--black);
    font-family: var(--bs-font-cairo-light);
    font-weight: 700;
    font-size: 1.2rem;

  }
  .flip-box-back-child img{
    width: 80px;
    height: 80px;
    display: inline-block;
    margin-bottom: 20px;

  }
  .flip-box-back-child h5{
    font-family: var(--bs-font-cairo-light);
    font-weight: 500;
    font-size: 2.2rem;
  }

  .flip-box-back-child p{
    border-bottom: 2px solid white;
    padding-bottom: 25px;
  }
  .share_ticket{
    margin-top: 20px;
  }
  .box-share{
    display: flex;
    align-items:center ;
    border-radius: 7px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    transition: 1s;
  }
  .box-share span:nth-child(2){
      display: none;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
  }
  .box-share:hover span:nth-child(2) {
      display: block;
  }
  .box-share:hover{
    width: 200px;
    background-color:transparent;
    border:1px sold var(--darkblue)
  }
  .box-share:nth-child(2){
    margin: 0 10px;
  }
  .box-share span:nth-child(1){
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: var(--darkblue);

  }
.edit-btn .icon-Edit{
    color: var(--light-gray) !important;
}
.edit-btn:hover{
    color: var(--blue);
    border-color: var(--blue);
}
.edit-btn:hover .icon-Edit{
    color: var(--blue) !important;
}
.next-btn:hover{
    color: var(--darkblue);
}