@import "../fonts/Cario/Cario.css";
@import "../fonts/IRANSans/IranSans.css";
@import "../fonts/BodoniModa-72pt/BodoniModa.css";
/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"); */


:root{
  --bs-primary:#fff;
  --yellow:#e8c347;
  --lightyellow:#e8c247a3;
  --lighteryellow:#e8c247bd;
  --darkblue:#10102d;
  --lightblue:#625ed7;
  --blue:#3f3baa;
  --white:#fff;
  --light-gray:#9b9b9b;
  --gray:#707070;



  --bs-font-bodoni-moda-black:BodoniModa_Black;
  --bs-font-bodoni-moda-black-italic:BlackItalic;
  --bs-font-bodoni-moda-bold:BodoniModa_Bold;
  --bs-font-bodoni-moda-bold-italic:BodoniModa_BoldItalic;
  --bs-font-bodoni-moda-extra-bold:BodoniModa_ExtraBold;
  --bs-font-bodoni-moda-extra-bold-italic:BodoniModa_ExtraBoldItalic;
  --bs-font-bodoni-moda-semi-bold:BodoniModa_SemiBold;
  --bs-font-bodoni-moda-semi-bold-italic:BodoniModa_SemiBoldItalic;
  --bs-font-bodoni-moda-italic:BodoniModa_Italic;
  --bs-font-bodoni-moda-medium:BodoniModa_Medium;
  --bs-font-bodoni-moda-medium-italic:BodoniModa_MediumItalic;
  --bs-font-bodoni-moda-regular:BodoniModa_Regular;


  --bs-font-cairo-black:Cairo_Black;
  --bs-font-cairo-bold:Cairo_Bold;
  --bs-font-cairo-light:Cairo_Light;
  --bs-font-cairo-extra-bold:Cairo_ExtraBold;
  --bs-font-cairo-semi-bold:Cairo_SemiBold;
  --bs-font-cairo-medium:Cairo_Medium;
  --bs-font-cairo-regular:Cairo_Regular;


  --bs-font-IRANSans-FaNum:IRANSans_FaNum;
  --bs-font-IRANSans-black-FaNum:IRANSans_Black_FaNum;
  --bs-font-IRANSans-bold-FaNum:IRANSans_Bold_FaNum;
  --bs-font-IRANSans-medium-FaNum:IRANSans_Medium_FaNum;
  --bs-font-IRANSans-light-FaNum:IRANSans_Light_FaNum;
  --bs-font-IRANSans-ultra-light-FaNum:IRANSans_UltraLight_FaNum;


  --bs-font-IRANSans:IRANSans;
  --bs-font-IRANSans-black:IRANSans_Black;
  --bs-font-IRANSans-bold:IRANSans_Bold;
  --bs-font-IRANSans-medium:IRANSans_Medium;
  --bs-font-IRANSans-light:IRANSans_Light;
  --bs-font-IRANSans-ultra-light:IRANSans_UltraLight;
}
body{
  font-family: var(--bs-font-IRANSans);
  color:var(--white)
}

.lead{
  color: var(--light-gray);
}
.btn-yellow-border{
  border-color: var(--yellow);
  color: #000;
}
.btn-border-light-gray{
  border-color: var(--light-gray);
  color: var(--gray);
  padding: 5px 50px !important;
}
a,a:hover{
  text-decoration: none;
}
ul{
  list-style: none;
}
/* header */
.header-top{
  display: flex;
  justify-content: center;

}
.navbar-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 12px;
}
.navbar-header .header-logo img{
  width: 80px;
  display: block;
}
.nav-header{
display: flex;

}
.bd{
  border:1px solid red
}
.nav-header li{
  padding: 0 15px;

}
.nav-header li a{
  color :var(--white);
  font-size: .8rem;
  font-weight: 700;
  transition: 1s;
  font-family: var(-- bs-font-IRANSans-medium);
}
.nav-header li:hover  a{
  color: var(--yellow);
}


.header-right{
  display: none;
  align-items: center;
}
.header-left{
  display: flex;
  align-items: center;
}
@media (min-width: 625px) {
  .header-right{
    display: flex;
  }
}

.btn-dif{
  border:2px solid var(--yellow);
  border-radius: 8px;
  padding: 5px 10px;
}
.header-left>div{
 margin-left:15px;
}
.btn-yellow-border a{
  color: var(--yellow);
}
.header-left i{
  color: var(--lightblue);
  width: 35px;
  height:35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background-color:#1c1c4f6b;
  border-radius: 50%;

}
.header-lang{
  position: relative;
  cursor: pointer;

}
.lang-drop-down{
  position: absolute;
  padding: 10px 10px;
  background-color: rgb(47, 61, 117);
  top:35px;
  left: -3px;
  border-radius: 0 7px 7px;
  /*opacity: 0;*/
  display: none;
  z-index: 1;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) .3s;
  /*overflow: hidden;*/

}

.lang-drop-down.arrow-top {
  margin-top: 5px;
}

.lang-drop-down.arrow-top:after {
  content: " ";
  position: absolute;
  left: 0px;
  top: -20px;
  border-top: none;
  border-right: 25px solid transparent;
  /* border-left: 15px solid transparent; */
  border-bottom: 20px solid rgb(47, 61, 117);
}


@keyframes showUp {
  0% {
    opacity: 0;

  }
  100% {
    opacity: 1;

  }
}
.lang-drop-down::before{
  /* content: ""; */
  position: absolute;
  display: block;
  width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid rgb(47, 61, 117);
  left:0;
  top:-40px;
  z-index: 300;
  transform:rotateY(40deg);
}


.show-hamburger-menu {
  animation: fadeInDown 0.25s forwards;
}

.drop-select{
  display: flex;
  font-size: 10px;
  margin: 10px 0;

}
.language{
  border-bottom: 1px solid var(--lightblue);
  padding-bottom: 5px

}
.country{
  padding: 10px 0
}
.header-drop-down{
  display: flex;
  align-items: center;
}
 .header-drop-down span{
  color: var(--white);
  font-size: .9rem;
  font-weight: 700;
 margin-right: 10px;
}
.header-drop-down i{
  font-size: 18px;
  color: var(--lightblue);
}
.language-btn {
  --bs-btn-margin-x: 5px;
  --bs-btn-margin-y: 0px;
  margin:var(--bs-btn-margin-y) var(--bs-btn-margin-x);
  display: flex !important;
  flex-direction: column;
  align-items: flex-start !important;
  justify-content: center;
  padding: 0!important;
  width:80px;
  padding-right: 10px !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  line-height: 10px !important;
}
/*.btn-check:checked + .btn,*/
/*.btn.active, .btn.show,*/
/*.btn:first-child:active,*/
/*:not(.btn-check) + .btn:active {*/
/*  color: var(--white) !important;*/
/*  background-color:  rgb(47, 61, 117)!important;*/
/*  border-color: var(--white) !important;*/
/*  text-align: right !important;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-content: flex-start;*/
/*  justify-content: center;*/
/*  padding: 0!important;*/
/*  padding-right: 10px !important;*/

/*  line-height: 10px !important;*/
/*  width: 80px;*/
/*}*/
.btn h5{
  font-size: .8rem;
  font-weight: 700;
  color: var(--white) !important;
  margin-bottom: 5px !important;
}
.btn span{
  font-size: .8rem;
  color: var(--lightblue) !important;
  margin-bottom: 5px !important;
}
/* banner */
.home-page section{
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.banner{
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: -10;
  margin-top: 0;

}
.banner{
  background: url("../image/BIG\ sasha-freemind-cm0eSVxdLDg-unsplash.jpg") no-repeat center;
  background-size: cover;
}

.dash-box{
 display: flex;
 justify-content: flex-start;
 align-items: center;
}
.dash-box-banner{
  color: var(--white);
}

.dash-box-banner h1{
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 500;
  font-family: var(--bs-font-cairo-light);
}
.dash-box-banner h3{
  font-size: 3rem;
  margin-bottom: 50px;
  font-family: var(--bs-font-cairo-semi-bold);
}
.btn-white{
  padding: 10px 35px;
  background-color: var(--white);
  color: var(--darkblue);
  border-radius: 5px;
  margin-top: 50px;
  font-size: 2rem;
  font-weight: 900;

}
.search{
  display: flex;
  justify-content: center;
 margin-top: -220px;
 margin-bottom: 80px;
}
.search-box{
  background-color: var(--yellow);
  padding: 30px 20px;
  border-radius: 10px;
}
.search-tab li button{
  background-color:var(--darkblue) !important;

}
.search-tab li button.active{
  background-color:var(--white) !important;

}
.nav-search{
  color: var(--white);
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  border-radius: 7px;
  margin:0 .2rem;
  /* margin-bottom: 20px; */
}
.nav-search.active{
  background-color: var(--white);
  color: var(--darkblue);
}
.search-input input{
  border-radius: 7px;
  margin-top: 10px;
}
.search-input label{
  font-family: var(--bs-font-cairo-semi-bold);
  color: var(--darkblue);
}
.search-input .btn-bcdark{
  font-size: 1rem;
  margin-top: 0;
  padding: 10px 30px;
}
#pills-tab{
  padding: 0 !important;
}
.search-input-section{
  display: flex;
  justify-content: space-around;

}
.search-button{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
/*  */
.about{
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.about-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
}
.bg-dark-blue{
  background-color: var(--darkblue);
}
.section-title{
  color: var(--yellow);
  font-family: var(--bs-font-cairo-light);
  font-size: 1.7rem;

}
.text-white{
  color: var(--white);
  font-size: 1rem;
  line-height: 30px;
  margin: 30px 0;
  text-align: justify;

}
/* feature */
.feature-section{
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
.feature-text{
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
.feature-img{
  height: 350px;
  border-radius: 30px;
  border: 2px dotted var(--white);
  width: 100%;
  padding: 5px;
}
.feature-img img{
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 30px;
}
/* newsletter */

.newsletter-form{
  background-color:var(--yellow);
  padding: 30px 40px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

}
.newsletter-form::before{
  content: "";
  position: absolute;
  width: 10px;
  background-color: var(--darkblue);
  height: 10px;
  border:1px solid var(--yellow);
  transform: rotate(45deg);
  top: -5px;
}
.newsletter-form::after{
  content: "";
  position: absolute;
  width: 10px;
  background-color: var(--darkblue);
  height: 10px;
  border:1px solid var(--yellow);
  transform: rotate(45deg);
  bottom: -4px;
}
.newsletter .section-title{
  color: var(--white);
  font-size: 2.2rem;
}
.newsletter .section-title span
{
  color: var(--darkblue);
  font-family: var(--bs-font-bodoni-moda-medium);
  font-size: 1.5rem;
  }

  .form-newsletter{
    width: 70%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-newsletter input{
    width: 100%;
    background-color:var(--white);
    padding: 15px 25px;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px ;
  }
  ::placeholder {
    color: var(--light-gray);
    font-family: var(--bs-font-cairo-light);
    font-size: 1rem;
  }
  .form-newslette .col-6{
    padding-right: 0 !important;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--light-gray);
    font-family: var(--bs-font-cairo-light);
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--light-gray);
    font-family: var(--bs-font-cairo-light);
  }
  .btn-bcdark{
    background-color:var(--darkblue);
    color:var(--yellow);
    font-family: var(--bs-font-cairo-semi-bold);
    padding: 15px 20px;
    width: 150px;
    margin-top: 15px;
    font-size: 1.2rem;
    text-align: center;

  }
/* footer */

.footer-head{
  width: 100%;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  color: var(--white);
  font-family: var(--bs-font-cairo-semi-bold);
}
.footer{

  margin: auto;
}
.footer-head span{
  font-family: var(--bs-font-bodoni-moda-medium);
  font-size: 1.8rem;
  margin-right:10px ;
}
.footer-header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}
.footer-header li a{
  font-family: var(--bs-font-cairo-light);
}
.footer-bottom{
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  color: var(--white);
  font-size: 15px;
}
.footer-bottom>div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-bottom>div:first-child{
 justify-content: flex-start;
}
.footer-bottom>div:nth-child(3){
  justify-content: flex-end;
}
.footer-bottom img{
  width: 100px;
}
.footer-bottom i{
  /* font-size: 10px; */
  color: var(--white);
  margin: 0 5px;
}
.siteDividerBody{
  padding: 0px 5%;
}
.centerItem{
  display: flex;
  align-items: center;
  justify-content: center;
}
.siteDivider{
  width: 100%;
  background-color: var(--yellow);
  background-color: var(--lightyellow);
  height: 1px;
}
.siteDivider1{
  width: 80%;
  background-color: var(--lighteryellow);
  height: 2px;
  border-radius: 100%;
}
.siteDivider2{
  width: 40%;
  background-color: var(--yellow);
  height: 3px;
  border-radius: 100%;
}

.siteDivider3{
  width: 8px;
  background-color: var(--darkblue);
  height: 8px;
  border:1px solid var(--yellow);
  transform: rotate(45deg);

}
.btn-border-light-gray{
  border-color: var(--light-gray);
}
.btn-border-light-gray a{
  color: var(--gray);
}

.font1{
  font-family: var(--bs-font-bodoni-moda-black);
}


.font2{
  font-family: var(--bs-font-IRANSans-bold);
}

.font3{
  font-family: var(--bs-font-cairo-bold);
}
.font4{
  font-family: var(--bs-font-cairo-light);
}
.font6{
  font-family: var(--bs-font-bodoni-moda-medium-italic);
}
.font7{
  font-family: var(--bs-font-IRANSans-ultra-light);
}



/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
  width: 35px;
  opacity: 0;
  transition: all 300ms ease-in;
}

.autocompleteHover {
  width: 250px;
  opacity: 1;
  transition: all 300ms ease-in;
}


input {
  border: 1px solid transparent;
  /*background-color: #f1f1f1;*/
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  /*background-color: #f1f1f1;*/
  width: 100%;
}


.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}



.header-search{
  position: relative;
}

.search-icon{
  position: absolute;
  z-index: 1;
  left: 0;
  cursor: pointer;
}


.searchInput{
  background-color: #1c1c4f6b;
  width: 100%;
  border-radius: 16px;
  color:#ffffff;
  font-size: 16px;
  height: 35px;
}



