@import "../fonts/Cario/Cario.css";
@import "../fonts/IRANSans/IranSans.css";
@import "../fonts/BodoniModa-72pt/BodoniModa.css";
/* @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"); */


:root {
    --bs-primary: #fff;
    --yellow: #e8c347;
    --lightyellow: #e8c247a3;
    --lighteryellow: #e8c247bd;
    --white: #fff;
    --light-gray: #9b9b9b;
    --gray: #707070;
    --black: #0f0e2d;
    --darkblue: #1e1c54;
    --blue: #3f3baa;
    --lightblue: #6e69ef;;
    --red: #e96d6d;
    --green: #45c58e;


    --bs-font-bodoni-moda-black: BodoniModa_Black;
    --bs-font-bodoni-moda-black-italic: BlackItalic;
    --bs-font-bodoni-moda-bold: BodoniModa_Bold;
    --bs-font-bodoni-moda-bold-italic: BodoniModa_BoldItalic;
    --bs-font-bodoni-moda-extra-bold: BodoniModa_ExtraBold;
    --bs-font-bodoni-moda-extra-bold-italic: BodoniModa_ExtraBoldItalic;
    --bs-font-bodoni-moda-semi-bold: BodoniModa_SemiBold;
    --bs-font-bodoni-moda-semi-bold-italic: BodoniModa_SemiBoldItalic;
    --bs-font-bodoni-moda-italic: BodoniModa_Italic;
    --bs-font-bodoni-moda-medium: BodoniModa_Medium;
    --bs-font-bodoni-moda-medium-italic: BodoniModa_MediumItalic;
    --bs-font-bodoni-moda-regular: BodoniModa_Regular;


    --bs-font-cairo-black: Cairo_Black;
    --bs-font-cairo-bold: Cairo_Bold;
    --bs-font-cairo-light: Cairo_Light;
    --bs-font-cairo-extra-bold: Cairo_ExtraBold;
    --bs-font-cairo-semi-bold: Cairo_SemiBold;
    --bs-font-cairo-medium: Cairo_Medium;
    --bs-font-cairo-regular: Cairo_Regular;


    --bs-font-IRANSans-FaNum: IRANSans_FaNum;
    --bs-font-IRANSans-black-FaNum: IRANSans_Black_FaNum;
    --bs-font-IRANSans-bold-FaNum: IRANSans_Bold_FaNum;
    --bs-font-IRANSans-medium-FaNum: IRANSans_Medium_FaNum;
    --bs-font-IRANSans-light-FaNum: IRANSans_Light_FaNum;
    --bs-font-IRANSans-ultra-light-FaNum: IRANSans_UltraLight_FaNum;


    --bs-font-IRANSans: IRANSans;
    --bs-font-IRANSans-black: IRANSans_Black;
    --bs-font-IRANSans-bold: IRANSans_Bold;
    --bs-font-IRANSans-medium: IRANSans_Medium;
    --bs-font-IRANSans-light: IRANSans_Light;
    --bs-font-IRANSans-ultra-light: IRANSans_UltraLight;


}

body {
    font-family: var(--bs-font-IRANSans);
    color: var(--white)
}

.row.no-gutter {
    --bs-gutter-x: 0
}

.lead {
    color: var(--light-gray);
}

.btn-yellow-border {
    border-color: var(--yellow);
    color: #000;
}

.btn-border-light-gray {
    border-color: var(--light-gray);
    color: var(--gray);
    padding: 5px 50px !important;
}

a, a:hover {
    text-decoration: none;
}

ul {
    list-style: none;
}

.yellow-text {
    color: var(--yellow);
}

.white-text {
    color: var(--white)

}

.gray-text {
    color: var(--light-gray);

}
.darkgray-text{
    color: var(--gray);
}
.lightgray-text{
    color: var(--light-gray);
}
.green-text{
    color: var(--green);
}
.darkblue-text{
    color: var(--darkblue);
}

p {
    line-height: 30px;
    text-align: justify;
}

.light-blue {
    color: var(--lightblue);
}

.yellow-bg {
    background-color: var(--yellow);
}

.btn-gray-border {
    border: 1px solid var(--light-gray);

}
.btn-green-border{
    border:1px solid var(--green);
    background-color:red;
}
/* header */
.header-top {
    display: flex;
    justify-content: center;

}

.navbar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
}

.navbar-header .header-logo img {
    width: 80px;
    display: block;
}

.nav-header {
    display: flex;

}

.bd {
    border: 1px solid red
}

.nav-header li {
    padding: 0 15px;

}

.nav-header li a {
    color: var(--white);
    font-size: .8rem;
    font-weight: 700;
    transition: 1s;
    font-family: var(-- bs-font-IRANSans-medium);
}

.nav-header li:hover a {
    color: var(--yellow);
}


.header-right {
    display: none;
    align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
}

@media (min-width: 625px) {
    .header-right {
        display: flex;
    }
}

.btn-dif {
    border: 2px solid var(--yellow);
    border-radius: 8px;
    padding: 5px 10px;
}

.header-left > div {
    margin-left: 15px;
}

.btn-yellow-border a {
    color: var(--yellow);
}

.header-left .circle {
    color: var(--lightblue);
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    background-color:var(--darkblue);
    border-radius: 50%;

}

.header-lang {
    position: relative;
    cursor: pointer;

}

.lang-drop-down {
    position: absolute;
    padding: 10px 10px;
    background-color:var(--darkblue);
    top: 35px;
    left: -3px;
    border-radius: 0 7px 7px;
    /*opacity: 0;*/
    display: none;
    z-index: 120;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1) .3s;
    /*overflow: hidden;*/

}

.lang-drop-down.arrow-top {
    margin-top: 5px;
}

.lang-drop-down.arrow-top:after {
    content: " ";
    position: absolute;
    left: 0px;
    top: -20px;
    border-top: none;
    border-right: 25px solid transparent;
    /* border-left: 15px solid transparent; */
    border-bottom: 20px solid var(--darkblue);
}


@keyframes showUp {
    0% {
        opacity: 0;

    }
    100% {
        opacity: 1;

    }
}

.lang-drop-down::before {
    /* content: ""; */
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid rgb(47, 61, 117);
    left: 0;
    top: -40px;
    z-index: 300;
    transform: rotateY(40deg);
}


.show-hamburger-menu {
    animation: fadeInDown 0.25s forwards;
}

.drop-select {
    display: flex;
    font-size: 10px;
    margin: 10px 0;

}

.language {
    border-bottom: 1px solid var(--lightblue);
    padding-bottom: 5px

}

.country {
    padding: 10px 0
}

.header-drop-down {
    display: flex;
    align-items: center;
}

.header-drop-down span {
    color: var(--white);
    font-size: .9rem;
    font-weight: 700;
    margin-right: 10px;
}

.header-drop-down i {
    font-size: 18px;
    color: var(--lightblue);
}

.language-btn {
    --bs-btn-margin-x: 5px;
    --bs-btn-margin-y: 0px;
    margin: var(--bs-btn-margin-y) var(--bs-btn-margin-x);
    display: flex !important;
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: center;
    padding: 0 !important;
    width: 80px;
    padding-right: 10px !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    line-height: 10px !important;
}

/*.btn-check:checked + .btn,*/
/*.btn.active, .btn.show,*/
/*.btn:first-child:active,*/
/*:not(.btn-check) + .btn:active {*/
/*  color: var(--white) !important;*/
/*  background-color:  rgb(47, 61, 117)!important;*/
/*  border-color: var(--white) !important;*/
/*  text-align: right !important;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-content: flex-start;*/
/*  justify-content: center;*/
/*  padding: 0!important;*/
/*  padding-right: 10px !important;*/

/*  line-height: 10px !important;*/
/*  width: 80px;*/
/*}*/
.btn h5 {
    font-size: .8rem;
    font-weight: 700;
    color: var(--white) !important;
    margin-bottom: 5px !important;
}

.btn span {
    font-size: .8rem;
    color: var(--lightblue) !important;
    margin-bottom: 5px !important;
}

/* banner */
.home-page section {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.banner {
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -10;
    margin-top: 0;

}

.banner {
    background: url("../image/BIG\ sasha-freemind-cm0eSVxdLDg-unsplash.jpg") no-repeat center;
    background-size: cover;
}

.dash-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.dash-box-banner {
    color: var(--white);
}

.dash-box-banner h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 500;
    font-family: var(--bs-font-cairo-light);
}

.dash-box-banner h3 {
    font-size: 3rem;
    margin-bottom: 50px;
    font-family: var(--bs-font-cairo-semi-bold);
}

.btn-white {
    padding: 10px 35px;
    background-color: var(--white);
    color: var(--darkblue);
    border-radius: 5px;
    margin-top: 50px;
    font-size: 2rem;
    font-weight: 900;

}

.search {
    display: flex;
    justify-content: center;
    margin-top: -220px;
    margin-bottom: 80px;
}

.search-box {
    background-color: var(--yellow);
    padding: 30px 20px;
    border-radius: 10px;
}

.search-tab li button {
    background-color: var(--black) !important;

}

.search-tab li button.active {
    background-color: var(--white) !important;

}

.nav-search {
    color: var(--white);
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
    border-radius: 7px;
    margin: 0 .2rem;
    /* margin-bottom: 20px; */
}

.nav-search.active {
    background-color: var(--white);
    color: var(--darkblue);
}

.search-input input {
    border-radius: 7px;
    margin-top: 10px;
}

.search-input label {
    font-family: var(--bs-font-cairo-semi-bold);
    color: var(--darkblue);
}

.search-input .btn-bcdark {
    font-size: 1rem;
    margin-top: 0;
    padding: 10px 30px;
}

#pills-tab {
    padding: 0 !important;
}

.search-input-section {
    display: flex;
    justify-content: space-around;

}

.search-button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

/*  */
.about {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.bg-dark-blue {
    background-color: var(--black);
}

.section-title {
    /* color: var(--yellow);text-white */
    font-family: var(--bs-font-cairo-light);
    /* font-size: 1.7rem; */

}

.text-white {
    color: var(--white);
    font-size: 1rem;
    line-height: 30px;
    /* margin: 30px 0; */
    text-align: justify;

}

/* feature */
.feature-section {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.feature-img {
    height: 350px;
    border-radius: 30px;
    border: 2px dotted var(--white);
    width: 100%;
    padding: 5px;
}

.feature-img img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 30px;
}

.feature-section .text-white {
    margin: 40px 0;
}

/* newsletter */

.newsletter-form {
    background-color: var(--yellow);
    padding: 30px 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

.newsletter-form::before {
    content: "";
    position: absolute;
    width: 10px;
    background-color: var(--darkblue);
    height: 10px;
    border: 1px solid var(--yellow);
    transform: rotate(45deg);
    top: -5px;
}

.newsletter-form::after {
    content: "";
    position: absolute;
    width: 10px;
    background-color: var(--darkblue);
    height: 10px;
    border: 1px solid var(--yellow);
    transform: rotate(45deg);
    bottom: -4px;
}

.newsletter .section-title {
    color: var(--white);
    font-size: 2.2rem;
}

.newsletter .section-title span {
    color: var(--darkblue);
    font-family: var(--bs-font-bodoni-moda-medium);
    font-size: 1.5rem;
}

.form-newsletter {
    width: 70%;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-newsletter input {
    width: 100%;
    background-color: var(--white);
    padding: 15px 25px;
    border-radius: 8px;
    border: none;
    margin-bottom: 10px;
}

::placeholder {
    color: var(--light-gray);
    font-family: var(--bs-font-cairo-light);
    font-size: 1rem;
}

.form-newslette .col-6 {
    padding-right: 0 !important;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--light-gray);
    font-family: var(--bs-font-cairo-light);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--light-gray);
    font-family: var(--bs-font-cairo-light);
}

.btn-bcdark {
    background-color: var(--darkblue);
    color: var(--yellow);
    font-family: var(--bs-font-cairo-semi-bold);
    padding: 15px 20px;
    width: 150px;
    margin-top: 15px;
    font-size: 1.2rem;
    text-align: center;

}

/* footer */

.footer-head {
    width: 100%;
    background-color: var(--darkblue);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    color: var(--white);
    font-family: var(--bs-font-cairo-semi-bold);
}

.footer {

    margin: auto;
}

.footer-head span {
    font-family: var(--bs-font-bodoni-moda-medium);
    font-size: 1.8rem;
    margin-right: 10px;
}

.footer-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

.footer-header li a {
    font-family: var(--bs-font-cairo-light);
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    color: var(--white);
    font-size: 15px;
}

.footer-bottom > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-bottom > div:first-child {
    justify-content: flex-start;
}

.footer-bottom > div:nth-child(3) {
    justify-content: flex-end;
}

.footer-bottom img {
    width: 100px;
}

.footer-bottom i {
    /* font-size: 10px; */
    color: var(--white);
    margin: 0 5px;
}

.siteDividerBody {
    padding: 0px 5%;
}

.centerItem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.siteDivider {
    width: 100%;
    background-color: var(--yellow);
    background-color: var(--lightyellow);
    height: 1px;
}

.siteDivider1 {
    width: 80%;
    background-color: var(--lighteryellow);
    height: 2px;
    border-radius: 100%;
}

.siteDivider2 {
    width: 40%;
    background-color: var(--yellow);
    height: 3px;
    border-radius: 100%;
}

.siteDivider3 {
    width: 8px;
    background-color: var(--darkblue);
    height: 8px;
    border: 1px solid var(--yellow);
    transform: rotate(45deg);

}

.btn-border-light-gray {
    border-color: var(--light-gray);
}

.btn-border-light-gray a {
    color: var(--gray);
}

.font1 {
    font-family: var(--bs-font-bodoni-moda-black);
}


.font2 {
    font-family: var(--bs-font-IRANSans-bold);
}

.font3 {
    font-family: var(--bs-font-cairo-bold);
}

.font4 {
    font-family: var(--bs-font-cairo-light);
}

.font6 {
    font-family: var(--bs-font-bodoni-moda-medium-italic);
}

.font7 {
    font-family: var(--bs-font-IRANSans-ultra-light);
}


/*the container must be positioned relative:*/
.autocomplete {
    position: relative;
    display: inline-block;
    width: 35px;
    opacity: 0;
    transition: all 300ms ease-in;
}

.autocompleteHover {
    width: 250px;
    opacity: 1;
    transition: all 300ms ease-in;
}


input {
    border: 1px solid transparent;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    width: 100%;
}


.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}


.header-search {
    position: relative;
}

.search-icon {
    position: absolute;
    z-index: 1;
    left: 0;
    cursor: pointer;
}


.searchInput {
    background-color: var(--darkblue);
    width: 100%;
    border-radius: 16px;
    color: #ffffff;
    font-size: 16px;
    height: 35px;
}

/* about us page */
.about_section .section-title {
    font-weight: 700;
    font-size: 2rem;
}

.about_section .section-title span {
    font-weight: 500;
    font-family: var(--bs-font-bodoni-moda-medium);
}

.about_section .text-section {
    padding: 50px 0;
}

.about_section p {
    text-align: justify;
    line-height: 2rem;
    padding-left: 90px;
}

.bd {
    border: 1px slid red;
}

.about_img {
    border: 1px slid red;
    height: 100%;
}

.about_img img {
    width: 100%;
    object-fit: fill;
}

img {
    vertical-align: middle;
}


/* paege page*/
.package_section {
    display: flex;
    justify-content: center;
}

/* .package_section .section-title{
  color: #fff;
} */
/* Position the image container (needed to position the left and right arrows) */
.container {
    position: relative;
}

/* Hide the images by default */
.mySlides {
    display: none;
    height: 400px;
    border-radius: 30px;
    border: 2px dotted var(--white);
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
}

.mySlides img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
    border-radius: 30px;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
    cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* Container for image text */
.caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Six columns side by side */
.thumnail {
    display: flex;
    margin-top: 5px;
    margin-bottom: 50px;


}

.column {
    width: 16.65%;
    height: 70px;
    padding: 0 5px !important;

}

.column img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

/* Add a transparency effect for thumnbail images */
.demo {
    opacity: 0.6;
}

.owl-stage-outer .active,
.owl-stage-outer .demo:hover {
    opacity: 1;
    border: 1px solid var(--yellow);
}

.border-div {
    height: 3px;
    width: 100%;
    background-color: var(--darkblue);
    margin: 30px 0;
}

.servic_optoin ul {
    padding: 0 !important;
    width: 100%;
}

.servic_optoin li {
    width: 100%;
    margin-top: 20px;
    display: flex;


}

.servic_optoin li .service_item {
    font-weight: 600;
}

.service_icon {
    display: inline-block;
    text-align: center;
    font-size: 1.2rem;
    width: 25px;
    color: var(--yellow);
    margin-left: 20px;
}

.cost_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.cost_type {
    font-weight: 600;
    font-size: 1.2rem;
}

.border-blue {
    height: 2px;
    padding: 0 50px;
    background-color: var(--darkblue);


}

.gray-btn {
    border-color: var(--gray) !important;
    color: var(--gray) !important;
}

/* owl-carousel */

#sync1 .item img {
    height: 100%;
    border-radius: 30px;
}

#sync1 .item {
    height: 400px;
    border-radius: 30px;
    border: 2px dotted var(--white);
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
}

#sync2 .item img {
    height: 80px;
    border-radius: 15px;

}

#sync2 .item img {
    opacity: 0.6;
    border: unset;

}

#sync2 .item img:hover {
    opacity: 1;
    border: 1px solid var(--yellow);
    border-radius: 15px;
}


.owl-item.active {
    opacity: 1;
    border: unset;
}


.activeThumbnail {
    opacity: 1 !important;
    border: 1px solid var(--yellow) !important;
}

/* faq */
.search-faq {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--darkblue);
    border-radius: 7px;
}

.input-faq-serach {
    border: none;
    outline: none;
    background: none;
    width: 80%;
}

::placeholder {
    color: var(--blue);
    font-size: 1rem;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--blue);
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--blue);
}

.icon-Search {
    color: var(--lightblue);
}

.question-section h3 {
    font-family: var(--bs-font-cairo-light);
    font-weight: 700;
    font-size: 1.2rem;
}

.accordion-button {
    background: none !important;
    color: var(--light-gray);

}

.accordion-button:focus {
    box-shadow: none !important;
    border-color: var(--lightblue);
}

.accordion-flush .accordion-item:first-child {
    border-top: 1px solid var(--light-gray);
    border-radius: 7px;
}

.accordion-button::after {
    margin-left: 0 !important;
}

.accordion {
    background-color: transparent;
    border-radius: 7px;
}

.accordion-item:first-of-type,
.accordion-item:last-of-type {
    border-radius: 7px;
}

.accordion-item:not(:first-of-type),
.accordion-item:not(:first-of-type) {
    border-top: 1px solid var(--light-gray);
}

.accordion-item {
    background-color: transparent;
    border: 1px solid var(--light-gray);
    border-radius: 7px;
    margin-bottom: 10px;
}

.accordion-flush .accordion-item:first-child,
.accordion-flush .accordion-item:last-child {
    border-top: 1px solid var(--light-gray);
    border-bottom: 1px solid var(--light-gray);
    border-radius: 7px;
}

.accordion-flush .accordion-item {
    border-left: 1px solid var(--light-gray);
    border-right: 1px solid var(--light-gray);
    border-radius: 7px;
}

.accordion-button:not(.collapsed) {
    color: #fff;
    font-weight: 900 !important;
}

.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23707070'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");

}

.accordion-body p {
    padding-top: 0 !important
}

.accordion-body p {
    border-top: 1px solid white;
    padding-top: 20px !important;
}

.row-table ul {
    display: flex;
    justify-content: space-around;
    border: 1px solid #fff;
    margin-bottom: 0;
}

.row-table li {
    display: flex;
    flex-grow: 1;
    flex-basis: 25%;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 10px 0px;
    border-right: 1px solid #fff
}

.row-table li:first-child {
    border-right: none;
}

.contact_item {
    display: flex;
    justify-content: flex-end;
}

.circle-blue {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--lightblue);
    color: var(--darkblue);
    font-size: 30px;
}

.contact_item-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-left: 20px;
}

.contact_item-text h3 {
    font-size: 1.3rem;
    font-weight: 700;
}

.contact_item-text h5 {
    font-size: 1rem;
    line-height: 25px;
    text-align: justify;
}

.form_section {
    background-color: #fff;
    border-radius: 1px 8px 8px 1px;
    height: 100%;
    padding: 25px 30px;
}

.form_section h4 {
    font-weight: 700;
}

.form_section .form-group input,
.form_section .form-group textarea {
    background-color: inherit;
    border: none;
    border-bottom: 1px solid var(--light-gray);
    color: var(--blue);
}

.form_section .form-group input:focus-visible {

    border-bottom-color: var(--blue);
}

input[type=email] {
    width: 100%;
    direction: rtl;
}

.form_section .form-group .control-label {
    color: var(--light-gray);
}

.form_section .form-floating > .form-control {
    border: none;
    border-bottom: 1px solid var(--light-gray);
    opacity: 1;
}

.form_section .form-group > label {
    color: var(--light-gray);
    opacity: 1;
}

.form-group > .form-control:focus ~ label,
.form-group > .form-control:not(:placeholder-shown) ~ label,
.form-group > .form-select ~ label {
    opacity: 1 !important;
}

.form-group input:focus,
.form-group input:valid,
.form-group input.form-file,
.form-group input.has-value,
.form-group textarea:focus,
.form-group textarea:valid,
.form-group textarea.form-file,
.form-group textarea.has-value {
    /* color:var(--blue)  !important */
}

.form_section .submit-btn {
    width: 150px;
    border: none;
    border-bottom: 1px solid var(--yellow);
    font-family: var(--bs-font-cairo-light);
    font-weight: 700;
    margin-top: 1.2rem;
}

.form-radio, .form-group {
    position: relative;
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}

.form-field figure {
    margin: 0;
}

.form-field img {
    width: 100%;
    object-fit: fill;
    height: 400px;
}

.no-padding {
    padding: 0 !important;
    --bs-gutter-x: 0
}

.form-field {
    margin-top: 70PX;
}

.form-field-send {
    height: 400px;
    border: 2px solid var(--lightblue)
}

.logo-img-send {
    height: 400px;
    border-left: 2px solid var(--lightblue);
    border-radius: 1px 17px 17px 1px;
}

.logo-img-send img {
    width: 150px;
    height: 150px;
}

.form-field-send .icon-send {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

.services_item {
}

.services_items .icon {
    font-size: 1.5rem;
    margin-left: 20px;
}

.services_item {
    display: flex;
    justify-content: space-between;
}

.service-img {
    width: 48%;
    padding: 10px 2%;

}

.service-img figure {
    height: 300px;
}

.service-text {
    width: 48%;
    padding: 10px 2%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.service-border {
    width: 2px;
    height: 335px;
    background-color: var(--darkblue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.shape {
    width: 20px;
    height: 20px;
    border: 1px solid var(--blue);
    display: block;
    transform: rotate(45deg);
    background-color: var(--black);
}

.icon-Connecting {
    transform: rotate(90deg);
    font-size: 2rem !important;
}

.exteraService {
    background-color: var(--darkblue);
    position: relative;
    border-radius: 15px;

}

.exteraService::before {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    background: var(--black);
    transform: rotate(45deg);
    position: absolute;
    top: -12px;
    right: 49%
}

.exteraService_item {
    border: 2px solid var(--lightblue);
    border-radius: 15px;
    min-height: 500px;
    margin-bottom: 20px;
}

.exteraService_item h5 {
    font-weight: 700;
}

.exteraService_item .icon {
    font-size: 3.5rem;
    color: var(--lightblue);

}

.exteraService_item p {
    /* max-height: 80px; */
    min-height: 80px;
}

.exteraService_item .price {
    font-size: 1rem !important;

}

.exteraService_item .cost_type {
    font-size: 1rem !important;
}

.faq_section .accordion-item:has(.show) {
    border-color: var(--lightblue);
}

.add-service .accordion-item:has(.show) {
    border-color: var(--white);
}

.contact-us-hide,
.content-hide{
    display: none !important;
}

/* log page */
.log-page {
  max-height: 100vh;
}

.log-page .icon-menu {
    color: var(--black);
}
.navbar-toggler:focus,
.btn-close:focus{
  box-shadow: none;
}
.hum-navbar-header{
  display: flex;
  justify-content: space-around;
  padding: 0 !important;
  margin-top: 50px;
}
.hum-navbar-header li{
  color: dark;
  font-size: 1.5rem;
  margin-left: 20px;
}
.log-page .form-group .control-label{
    font-size: .8rem;
}

.humbergur-menu .header-logo img{
  width: 100px;
}
.hum-navbar-header li>a{
  color: var(--lightblue);
  font-size: 1rem;
  font-weight: 700;
}
.hum-head-top{
  padding: 0 30px;
}
.hum-head-top .header-left .circle{
  background-color: var(--blue);
  font-size: 20px;
}
.head .collapse{
  box-shadow: 	16px 16px 8px -2px rgba(0, 0, 0, 0.034);
  border:	1px solid rgba(0,0,0,0);
  border-radius:	4px;
}
.logIn-left{
  /* width: 100%; */
  background-color: var(--black);
  border-radius: 0px 30px 30px 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  position: fixed;


}
.logIn-left .feature-img{
  height: 300px;
}
.logIn-left-content{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logIn-logo{
  width: 100px;
}
.logIn-title{
  color: var(--black);
  font-family: var(--bs-font-cairo-semi-bold);
  font-size: 2rem;
}
.log-form{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.log-form ul{
  width: 100%;
  display: flex;
  justify-content: center;
}
.log-form .nav-pills .nav-link
{
  background-color: inherit !important;
  color: var(--light-gray) !important;

}
.log-form .nav-pills .nav-link.active,
.log-form .nav-pills .show>.nav-link{
  border-bottom: 2px solid var(--yellow) !important;
  color: var(--black) !important;
}
.log-form .nav-pills .nav-link{
  border-radius: 0 !important;
  margin: 0 10px;
}
.log-form .nav-link{
 transition:border-color 0s ease-in-out !important;
}

.log-form .nav-pills .nav-link:hover {
  color: var(--black) !important;
  /* transition: .5s; */
}
.log-form .tab-content{
  width: 100%;
}
.log-form .form-group .control-label {
  color: var(--light-gray);
}
.log-form .form-group .bar {
  border-bottom: 0.0625rem solid var(--light-gray);
}
.log-form  .form-group select,
.log-form .form-group input:focus,
.log-form  .form-group input:valid,
.log-form  .form-group input.form-file,
.log-form  .form-group input.has-value,
.log-form   .form-group textarea:focus,
.log-form  .form-group textarea:valid,
.log-form  .form-group textarea.form-file,
.log-form  .form-group textarea.has-value {
    color: var(--black);
}
.forgat-pass a{
  font-size: 0.8rem;
  font-weight: 500;
}
.btn-login{
  width: 100%;
  background-color:var(--black);
  color: #fff;
  border-radius: 7px;
  margin-top: 20px ;
  transition: .5s;

}
.btn-login:hover{
  color:var(--black);
  background-color: #fff;
  border:1px solid var(--black);
  transition: .5s;
}
.log-form p{
  font-size: .8rem;
  margin-bottom: 0 !important;
}
.signup{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.log-form .signup a{
  color: var(--yellow);
  padding: 0;
  font-weight: 700;
  font-size: 1rem;
display: inline-block;
border-bottom: 1px solid var(--yellow);
}
.log-form .signup  a:hover{
  color: var(--yellow) !important;

}
.logIn-left p{
    font-size: .8rem;
}
.btn-login-google
{
    width: 100%;
    background-color: #fff;
    border:1px solid var(--light-gray);
text-align: center;
}
.btn-login-google span{
    font-weight: 600 ;
    color: var(--black) !important;
}
.logIn-page .form-group{
    margin: 20px 0 !important;
}
.btn-login-agency{
    background-color:var(--yellow);
    color: var(--black);
    margin: auto;
}
.or-text{
    color: var(--light-gray);
    font-size: 1rem;
    font-weight: 600;

}
.or-section .divider{
    width: 50px;
    background-color: var(--light-gray);
}
.log-page .form-group{
    margin: 1rem 0 !important;
}
.box-code{
    width: 90%;
   height: 50px;
    border: 1px solid var(--black);
    display: flex;
    justify-content: center;align-items: center;
    color: var(--black);
    border-radius: 5px;
}
.box-code input{
    width: 100%;
    border: none;
    outline: none;
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
}
