
.mainSlider .item img{
    height: 100%;
    border-radius: 30px;
}
.mainSlider .item{
    height: 400px;
    border-radius: 30px;
    border: 2px dotted var(--white);
    width: 100%;
    padding: 7px;
    margin-bottom: 10px;
}
.thumbnailSlider .item img{
    height: 80px;
    border-radius: 15px;

}
.thumbnailSlider .item img{
    opacity: 0.6;
    border:unset;

}
.thumbnailSlider  .item img:hover{
    opacity: 1;
    border:1px solid var(--yellow);
    border-radius: 15px;
}


.owl-item.active{
    opacity: 1;
    border:unset;
}


.activeThumbnail-1,
.activeThumbnail-2{
    opacity: 1 !important;
    border:1px solid var(--yellow) !important;
}




