@media (max-width: 576px) {

    /* .mobile-header {
        display: ;
    } */

    .newsletter .section-title {
        font-size: .7rem !important;
    }

    .sticky-top {
        position: relative !important;
    }
.fz-2{
    font-size: 14px;
}
.flight-timeline .before .shape{
   display: block !important;
}
    
}

.header-desktop {
    display: flex;
}

.header-mobile {
    display: none;
}

/* 
.mobile-menu{
    width: 300px;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;

} */

@media (max-width: 767.98px) {

    .btn-border-light-gray {
        padding: 5px 10px !important;
    }

    #main-div {
        display: none;
    }

    .whatsapp-icon {
        display: none
    }

    .navbar-brand {
        display: flex;
        flex-direction: row-reverse;
    }

    .navbar-brand .header-logo {
        width: 50px;
    }

    .navbar-expand-md .icon-menu {
        color: var(--yellow);
    }

    .nav-mobile {
        display: flex;
        flex-direction: row-reverse !important;
    }

    .dash-box-banner h1 {
        font-size: 2rem;
    }

    .dash-box-banner h3 {
        font-size: 1.5rem;
    }

    .dash-box-banner {
        color: var(--white);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .search-box .nav-search {
        font-size: 13px !important;
        padding: .1rem
    }

    .search-box .nav-pills {
        flex-wrap: nowrap;
    }

    .why-us-box p {
        font-size: 1.2rem !important;
    }

    .faq_section .accordion-button {
        font-size: .8rem;
    }

    .footer-header .nav-header li {
        padding: 0 5px
    }

    .footer-header .nav-header {
        padding: 0;
    }

    .sticky-top {
        position: relative !important;
    }

    .flight-timeline .before {
        margin-right: 2px !important;
        margin-left: 2px !important;

    }
    .price {
        font-size: 20px !important;
    }
    .fz-2{
        font-size: 14px;
    }
    .add-service-title{
        margin-bottom: 20px;
        font-size: 15px;
    }
    .mg-2{
        margin-bottom: 0 !important;
    }

    .contact_item-text h5{
        font-size: .9rem;
    }
    .form_section{
        border-radius:8px 8px 1px 1px;
        margin-bottom: 10px;
    }
  .contact_items{
    padding-left: 20px;
    padding-left: 10px;
  }

}

@media (max-width: 991.98px) {
    .header-desktop {
        display: none;
    }

    .header-mobile {
        display: flex;
    }

    .mobile-header {
        display: flex !important;
    }

    .search-box .nav-search {
        font-size: 12px;
        padding: .5rem
    }

    .search-input .btn-bcdark {
        padding: 10px;
    }

    .why-us-box p {
        font-size: .8rem;
    }

    .newsletter-form {
        padding: 30px;
    }

    .newsletter .section-title {
        font-size: 1.1rem;
        font-weight: bold;
    }

    .footer-header .nav-header li {
        padding: 0 5px
    }

    .about_section p {
        padding-left: 0;
    }

    .price {
        font-size: 20px;
    }
    .fz-2{
        font-size: 14px;
    }
    
    .flight-timeline .before {
        margin-right: 5px !important;
        margin-left: 5px !important;

    }
    .flight-timeline .before .shape{
        width: 0;
        height: 0;
        display:none;
    }
    .flight-timeline ul li{
        font-size: 14px;
    }
    .done>div:nth-child(2){
        font-size: 12px;
      
}
.inprocess>div:nth-child(2){
    font-size: 12px;
}
 .flight-timeline ul>li>div:nth-child(2){
    font-size:12px;
}

}

@media (max-width: 1200px) {
  .done>div:nth-child(2){
    font-size: 12px;
  }
    .price {
        font-size: 13px;
    }

    .services-select {
        display: flex;
        flex-wrap: wrap;
    }

}
.logo-img-send{
    flex-wrap: wrap;
    
  }